<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

{% if recent_plays %}
    <table>
        <tr>
            <td>
                <h4>Time</h4>
            </td>
            <td>
                <h4>Title</h4>
            </td>
            <td>
                <h4>Artist</h4>
            </td>
            <td>
                <h4>Album</h4>
            </td>
            <td>
                <h4>Comment</h4>
            </td>
        </tr>
        {% for play in recent_plays %}
            <tr>
                <td>
                    {{ play.airdate }}
                </td>
                <td>
                    {{ play.title }}
                </td>
                <td>
                    {{ play.artist }}
                </td>
                <td>
                    {{ play.album }}
                </td>
                <td>
                    {% if play.comment %}
                        <form action="{% url 'comment:add_comment' play.playid %}" method="post">
                            {% csrf_token %}
                            <input type="text" name="comment" value="{{ play.comment }}">
                            <input type="submit" value="Edit">
                        </form>
                    {% else %}
                        <form action="{% url 'comment:add_comment' play.playid %}" method="post">
                            {% csrf_token %}
                            <input type="text" name="comment" value="">
                            <input type="submit" value="Add">
                        </form>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No recently played songs found.</p>
{% endif %}
