<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

{% load tz %}

<div class="container">
    <div class="row my-4">
        <h3>Recently played on KEXP</h3>
    </div>
{% if recent_plays %}
    <div class="row">
        <div class="card">
        <div class="table">
        <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">
                    Time
                </th>
                <th scope="col">
                    Title
                </th>
                <th scope="col">
                    Artist
                </th>
                <th scope="col">
                    Album
                </th>
            </tr>
        </thead>
        <tbody>
        {% for play in recent_plays %}
            <tr>
                <td>
                    {% timezone "America/Los_Angeles" %}
                        {{ play.airdate }}
                    {% endtimezone %}
                </td>
                <td>
                    {{ play.title }}
                </td>
                <td>
                    {{ play.artist }}
                </td>
                <td>
                    {{ play.album }}
                </td>
            </tr>
            <tr>
                <td colspan="4" class="px-5">
                {% if play.comment %}
                    <p>
                    <em>Comment:</em> {{ play.comment }}
                    </p>
                    <button type="button" class="btn btn-outline-secondary" name="edit-comment">Edit Comment</button>
                {% else %}
                    <button type="button" class="btn btn-outline-primary" name="add-comment">Add Comment</button>
                {% endif %}
                <!----------
                <form action="{% url 'comment:add_comment' play.playid %}" method="post">
                    Comment:
                    {% csrf_token %}
                    {% if play.comment %}
                        {{ play.comment }}
                        <input type="submit" value="Edit">
                    {% else %}
                        <input type="text" name="comment" value="">
                        <input type="submit" value="Add">
                    {% endif %}
                </form>
                ---------->
                </td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
        </div> <!-- table -->
        </div> <!-- card -->
    </div> <!-- row -->
{% else %}
    <p>No recently played songs found.</p>
{% endif %}
</div>
